#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.customerDetails{
  background-color: chocolate;
  border-style: solid;
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 30px;
  padding-left: 10%;
}

.posts {
  margin: auto;
  background-color: violet;
  max-width: 70%;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  margin-bottom: 2%;
}

.nappi {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 26px;
  background-color: green;
  color: darkkhaki;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
